.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: yellow;
  min-height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .header-img {
    width: 20%;
    animation: header-float infinite 3s ease-in-out;
  }
}


@keyframes header-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

.box {
  width: 80px;
  height: 160px;
  overflow: hidden;
}

.character {
  animation: moveSpriteSheet 1.2s steps(12) infinite;
}

@keyframes moveSpriteSheet {
  from {
    transform: traslate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%,0,0);
  }
}